<FilesMatch "^(add_product|add_stock|adjust|batchlist|config|delete|edit_product|get_data|home|login|logout|other|productlist|save|stockcard)\.php$">
    Require all denied
</FilesMatch>
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Remove index.php from URLs
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php/$1 [L]

    # Handle the root URL
    RewriteRule ^$ index.php [L]
</IfModule>
